#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

.ton {
  background: #94bbe9;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #fff;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: linear-gradient(to bottom right, #ffe3f2, #fff7d6, #e0f7ff);
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 100%;
}
