@import "tailwindcss";
@plugin "daisyui";

.my-btn{
    @apply  btn w-full bg-[radial-gradient(circle,rgba(238,174,202,1)_0%,rgba(148,187,233,1)_100%)]  text-black font-semibold border-none hover:scale-105 transition-transform duration-200;
}

a.active{
  @apply bg-accent
}


  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
        
        .errorBody{
            height: 100%;
            margin: 0;
            padding: 0;
            font-family: 'Inter', sans-serif;
            background-color: #0d1117; 
        }
        .gradient-text {
            background-image: linear-gradient(to right, #6366f1, #a855f7, #ec4899);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            override-colors: transparent;
        }

        .card-shadow {
            box-shadow: 0 10px 30px rgba(79, 70, 229, 0.2);
            transition: all 0.3s ease;
        }
        .card-shadow:hover {
            box-shadow: 0 15px 40px rgba(168, 85, 247, 0.4);
        }